/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jul 2021, 10:45:18
    Author     : user-pc
*/
.container{
    margin: 10px 300px 150px 300px;
    width: 620px;
}

h3{
    font-size: 24px;
    margin-left: 10px;
}


.display_con{
    text-align: center;
    margin-top: 20px;  
    margin-bottom: 20px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;
}

.header{
    margin-left: 50px;
    font-family:Noto Sans, sans-serif;
}

a{
    text-decoration: none;
}

#add, #view, #delete, #edit, #search{
    cursor: pointer;
    border: none;
    margin-left: 50px;
    color: rgb(207, 148, 112);
}

#add:hover, #view:hover, #delete:hover, #edit:hover, #search:hover{
    color: gray;
}