/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Jul 2021, 22:57:00
    Author     : Jesmie
*/

body{
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 1724px, 1024px;
}

section{
    margin-top: 100px;
}

.login_form{
    background-color: rgba(53, 143, 104, 0.9);
    width: 500px;
    height: 520px;
    padding-top: 3px;
    padding-left: 80px;
    border-radius: 5%;
    margin: auto;
}

.form_group{
    height: 50px;
    font-family:Trebuchet MS, sans-serif;
    font-size: 25px;
    color: rgb(183, 237, 197);
}

.g2{
    padding-top: 20px;
}

input{
    font-size: 22px;
    border: none;
    padding: 1%;
    color: #665a4b;
}

#email, #password{
    width: 400px;
}

input:hover {
    opacity: 0.8;
}

.button_group{
    padding: 5%;
    margin-top: 10px;
    margin-left: 100px;
}

h4{
    font-family:Trebuchet MS, sans-serif;
    color: rgb(183, 237, 197);
    font-size: 35px;
    margin-left: 10px;
    margin-top: 70px;
}

.login_title{
    padding-left: 20px;
}

#login{
    background-color: rgb(5, 59, 19);
    color: rgb(175, 227, 188);
}

#cancel{
    background-color: rgb(175, 227, 188);
    color: rgb(5, 59, 19);
}

#cancel, #login{
    width: 150px;
    font-family:Trebuchet MS, sans-serif;
    height: 40px;
}






